{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}



{% block content %}

<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-12 " style="padding-bottom:20px;">
            <a href="{% url 'index' %}" style="color:#fc6201;"> Главная </a>
            <a> >  Прайс-лист</a>
        </div>
        <div class="col-12 text-center" style="padding-bottom:20px;"> <h3> Прайс-лист</h3></div>
        <div class="col-lg-3 d-none d-lg-block  acor-container " >
            {% for pr in prod %}
                <input type="radio" name="acor" id="{{ pr.id_product }}"  />
                <label for="{{ pr.id_product }}">{{ pr.product }}</label>
                <div class="acor-body mt-1 " >
                    {% for s in subprod %}
                        {% if s.parent == pr %}
                            <div class="mb-1 text-center" style="background-color: rgba(210, 210, 220, 0.8);  border-radius:7px; ">
                                 <a href=" {% url 'detail' pr.id_product s.id %} " style="color:black;" >{{ s.subproduct }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-9 col-md-12 row" >
            {% for pr in prod %}
                <div class="col-12 text-center mb-1 py-1" style="border-radius:7px; background-color:#fc6201; color:white;"> <a> {{pr.product}} </a></div>
                {% for s in subprod %}
                    {% if s.parent == pr %}
                        <div class="col-8 text-center mb-1" style="background-color: rgba(210, 210, 220, 0.8);  border-radius:7px;" > <a > {{s.name}} </a></div>
                        <div class="col-1" ></div>
                        <div class="col-3 text-center mb-1" style="background-color: rgba(210, 210, 220, 0.8);  border-radius:7px;" >
                            {% if s.price == '0' %}
                                <a  style=" color:black;"> По запросу</a>
                            {% else %}
                            <a  style=" color:black;" >от {{ s.price }}  руб./{{s.unit}}  </a>
                            {% endif %}
                        </div>
                    {% endif %}

                {% endfor %}

            {% endfor %}


        </div>




        </div>
    </div>
</div>



{% endblock %}